{% extends 'store/base.html' %}
{% block content %}

<h2>Checkout</h2>

<table class="table mt-4">
    <thead>
        <tr>
            <th>Product</th>
            <th>Qty</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for key, item in cart.items %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>₹{{ item.price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h4 class="text-end">Total: ₹{{ total }}</h4>

<form method="post" class="text-end mt-3">
    {% csrf_token %}
    <button class="btn btn-warning btn-lg">
        Place Order
    </button>
</form>

{% endblock %}
